.container{
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100% !important;
    background-color:rgba(17, 17, 17, 1);
}

.navbar{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarList {
    display: flex;
    gap: 120px;
    margin-inline: auto;
    list-style-type: none;
}

.navbarLink {
    color: white;
    text-decoration: none;
    /* transition: var(--transition-1); */
}

.icons{
    color:#FDD65B;
}

.head{
    color: white;
    padding-top: 40px;
    text-align: center;
    gap: 20px;
    display: flex;
    justify-content: center;
}