.container{
    width: 1156px;
    height: 425px;
    top: 4397px;
    left: 154px;
    border-radius: 14px;
    margin-top: 200px;
    padding-left: 150px;
}

.head{
    display: contents;
    justify-content: center;
    text-align: center;
    color: white;
    width: 253px;
    height: 77px;
    top: 4397px;
    left: 598px;
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 77.23px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px; 
  }
  
